# Ignore everything
*

# But don't ignore these files
!.bashrc
!.zshenv
!.zshrc
!LICENSE
!README.md
!.config/starship.toml
!.gitignore
!.julia/config/startup.jl

# And don't ignore these directories and their contents
!.config/nvim
!.config/nvim/*
!.zsh/
!.windows/
!.windows/**

*.log
*.txt
